<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>
    {% if page.title %}
      {{ page.title }} — {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">

  {% seo %}

  <!-- OG fallback -->
  <meta property="og:image" content="{{ site.url }}/{{ site.image_dir }}/{{ page.slug | default: page.title | slugify }}.jpg">

  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>

<body>
  {{ content }}
</body>
</html>
